apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    app: {{ .Chart.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicas | default 1 }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
      chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
      release: {{ .Release.Name }}
      heritage: {{ .Release.Service }}
  strategy:
    rollingUpdate:
      maxSurge: {{ .Values.maxSurge | default 1 }}
      maxUnavailable: {{ .Values.maxUnavailable | default 1 }}
    type: RollingUpdate
  template:
    metadata:
      annotations:
        {{- if .Values.arnIAMrole }}
        iam.amazonaws.com/role: "{{ .Values.arnIAMrole }}"
        {{- end }}
        {{- if .Values.annotations }}
        {{ toYaml .Values.annotations | indent 8 }}
        {{- end }}
      labels:
        app: {{ .Chart.Name }}
        chart: {{ .Chart.Name }}-{{ .Chart.Version | replace "+" "_" }}
        release: {{ .Release.Name }}
        heritage: {{ .Release.Service }}
    spec:
      {{- if .Values.nodeSelector }}
      nodeSelector:
{{ toYaml .Values.nodeSelector | indent 8 }}
      {{- end }}
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 8 }}
      {{- end }}
      containers:
      - env:
        - name: TZ
          value: America/Sao_Paulo
        name: {{ .Chart.Name }}
        image: {{ .Values.image }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        - containerPort: 4444
          name: monitoring
          protocol: TCP
        readinessProbe:
          failureThreshold: 2
          httpGet:
            path: /actuator/health/readiness
            port: 4444
            scheme: HTTP
          initialDelaySeconds: 30
          periodSeconds: 10
        livenessProbe:
          failureThreshold: 3
          httpGet:
            path: /actuator/health/liveness
            port: 4444
            scheme: HTTP
          initialDelaySeconds: 40
          periodSeconds: 10
        resources:
{{ toYaml .Values.resources | indent 10 }}
        volumeMounts:
        - name: config
          mountPath: /workspace/BOOT-INF/classes/bootstrap.yaml
          subPath: bootstrap.yaml
        envFrom:
        - secretRef:
            name: {{ .Chart.Name }}
      serviceAccountName: {{ .Chart.Name }}
      terminationGracePeriodSeconds: {{.Values.terminationGracePeriodSeconds | default 120}}
      volumes:
      - name: config
        configMap:
          name: {{ .Chart.Name }}
          items:
            - key: bootstrap.yaml
              path: bootstrap.yaml